@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

:root{
    --primary-color: #d291bc;
    --primary-color-dark: #f7ebf3;
    --text-dark: #1e293b;
    --text-light: #64748b;
    --extra-light: #fafafa;
    --white: #ffffff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    transform-origin: top left; /* This sets the scaling point to the top left of the page */
    transform: scale(0.9);
    width: 111.11%;
    overflow-x: hidden; /* This may help to prevent horizontal scrolling caused by the extra width */
}
  
html {
    scroll-behavior: smooth;
}

.section__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header{
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    color: var(--text-dark);
}

.section__subheader{
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    color: var(--text-light);
    letter-spacing: 2px;
}

.btn{
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

html,
body{
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

nav{
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav__logo img{
    max-width: 40px;
}

.nav__logo span{
    font-size: 1.25rem;
    color: var(--text-dark);
}

.nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

li.link a[href="#accreditation"] {
    color: #d291bc;
}

.link a {
    padding: 5px;
    color: var(--text-light);
}

.link a:hover {
    color: var(--primary-color);
}

header{
    position: relative;
}

header::before{
    position: absolute;
    content: "";
    left: -25%;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to top, var(--primary-color), transparent);
    opacity: 0.2; */
}

.header__container{
    margin-top: 100px;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.header__content{
    z-index: 1;
}

.header__content h1{
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 300;
    color: var(--text-dark);
}

.header__content h2{
    margin-bottom: 6rem;
    font-size: 2rem;
    font-weight: 300;
    color: var(--text-light);
}

.header__image{
    z-index: -1;
}

.header__image img{
    max-width: 475px;
    margin: auto;
}

p {
    margin-bottom: 0.5rem; /* Adjust the value as needed */
}

.about__container{
    margin-top: 220px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.about__image{
    max-width: 600px;
    margin: auto;
}

.about__content h2{
    margin-bottom: 1rem;
}

.about__content .section__header {
    margin-top: 2.3rem;
    margin-bottom: 1rem;
    text-align: left;
}

.about__content p{
    margin-bottom: 1rem;
    line-height: 1.5rem;
    color: var(--text-light);
    font-size: 1rem;
}

.about__content ul{
    list-style: none;
}

.about__content li{
    margin-bottom: 1.2rem;
    font-size: 1rem;
    color: var(--primary-color);
}

.why__container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* margin-bottom: 6rem; */
}

.why__image{
    max-width: 600px;
    margin: auto;
    align-items: center;
}

.why__content h2{
    margin-bottom: 1rem;
}

.why__content .section__header {
    margin-top: 2.3rem;
    margin-bottom: 1rem;
    text-align: left;
}

.why__content p{
    /* margin-bottom: 1rem; */
    line-height: 1.5rem;
    color: var(--text-light);
    font-size: 1rem;
}

.hero{
    background-color: var(--extra-light);
}

.hero__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.hero__card span{
    margin-bottom: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    aspect-ratio: 1;
    background-color: var(--primary-color-dark);
    border-radius: 100%;
}

.hero__card span img{
    max-width: 40px;
}

.hero__card h4{
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
}

.hero__card p{
    line-height: 1.5rem;
    color: var(--text-light);
}


.contact__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.contact__image img{
    max-width: 450px;
    margin: auto;
}

.contact__content form{
    width: 100%;
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
}

.contact__content .form__group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: 2rem;
}

.contact__content :is(input, textarea){
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: var(--extra-light);
    border-radius: 5px;
}

.contact__content textarea{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact__content input::placeholder{
    color: var(--text-light);
}

.contact__content button{
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5rem;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.contact__content button:hover{
    background-color: var(--text-light);
}


.stories__grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


.stories__card{
    padding: 1rem;
}

.stories__content{
    position: relative;
    isolation: isolate;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.stories__content{
    padding: 7px 10px;
    font-size: 2rem;
    color: var(--primary-color);
    border-radius: 100%;
}

.stories__content::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    top: 0;
    left: 24px;
    background-color: var(--text-light);
    opacity: .1;
    z-index: -1;
}

.stories__content p{
    line-height: 1.5rem;
    color: var(--text-light);
}

.stories__author{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.stories__author img{
    max-width: 100px;
    border-radius: 100%;
}

.stories__author_details h4{
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-dark);
}


.stories__author_details h6{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
}


/* Page settings to remove bad padding */


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* body {
    display: flex;
    flex-direction: column;
} */

/* Your existing CSS for the contact container and other elements */

/* Adjust the bottom padding or margin of the last element inside your section */
.contact__content button {
    margin-bottom: 0; /* Adjust this as needed */
}

/* Ensure the section fills the remaining space if necessary */
.section__container {
    flex-grow: 1;
}
